@use "../global/colors" as *;
@use "../global/mixins" as *;

.dex-container{
  overflow-y: auto;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
    scroll-behavior: smooth;
  
}

.dex {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  box-sizing: border-box;
  max-width: 100%;
}
