@use "../global/colors" as *;
@use "../global/mixins" as *;

main {
  background-color: $background;
  // height: 100%;
  // flex: 1;
  aspect-ratio: 1/2;
  margin: 5% 0;
  padding: 48px 32px 0;
  overflow: hidden;
  @include flex-center(column, start);

    header {
    @include flex-center(column, start);
    gap: 16px;
    margin-bottom: 24px;
    // min-height: 100%;
    h1,
    p,
    div {
      width: 100%;
    }
  }
}


